@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-image: url('/static/portal/img/dashboard.svg');
  background-color: black;
  justify-items: center;
  font-family: 'Poppins', sans-serif;
  color:white;
}
.navig {
  padding: 10px;
  background: black;
  height: 80px;
}
.navig button {
  height: 50px;
  color: white;
  background: black;
  border: 1px solid red;
  float: right;
  transition: 0.3s;
}
.navig button:hover {
  background-color: #610000;
}
.navig img{
  height: 60px;
}
.navig #username {
  display: block;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  float:right;
}
#title {
  color: white;
  font-size: 48px;
  padding-left: 2vw;
  text-align: left;
  font-weight: 600;
}
.outer {
  background-color: black;
  height: 90%;
  width: 90vw;
  margin-top:5vw;
  margin-left: auto;
  margin-right: auto;
  border:2px solid red;
  box-shadow: 0px 0px 25px red;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border:3px solid red;
    position:relative;
    border:3px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    padding: 20px;
    width:85%;
}
.card h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding:0;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding:0;
  margin-bottom: 20px;
}
.card strong {
  font-size: 20px;
}
.card li:nth-child(odd) {
  list-style-image: url('/static/portal/img/list.png');
}
.card li:nth-child(even) {
  list-style-image: url('/static/portal/img/list2.png');
}
.card .prizes img {
  width: 20px;
  top: 50px;
}
.card .prizes {
  font-weight: 600;
  margin-bottom: 20px;
}
.card .date-submit {
  margin: 5vh 0 5vh 0;
}
.card .right{
  /* float: right; */
  padding-right: 5vw;
  text-align: right;
}
.card .left{
  padding-left: 5vw;
  float:left;
}
.card .open {
  color: green;
}
.card .closed {
  color: red;
}
.card .submission {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  text-align: center;
  border: 1px dashed white;

}
.card .submission a {
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: red;
}
.card .submission a:hover {
  text-shadow: 2px 2px 4px #000000;
}
.card .submission input[type="file"]{
  display: inline;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  margin-right:0;
}
::-webkit-file-upload-button{
  background: white;
  border: 1px solid red;
}
.card .submission button {
  color: white;
  background: none;
  border: 1px solid red;
  transition: 0.5s;
  padding: 10px;
}
.card .submission button:hover {
  background: #610000;
}
.card .submission input[type="text"]{
  display: inline;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  margin-right:0;
  color:black;
  width: 40vw;
}

.card .submit-alert{
  height: auto;
  font-size: 15px;
  font-weight: 500;
  border: 1px dashed red;
  padding: 20px;
}


@media screen and (max-width:1024px) and (min-width:200px){
  .navig #username{
    font-size:4vw;
  }
  #title{
    font-size:8vw;
  }
  .left{
    font-size:2vw;
  }
  .left h2,.right h2{
    font-size:4vw;
  }
  .right{
    font-size:4vw;
  }
  .card .submission #file {
    width:50vw;
    padding-bottom: 1vw;

  }
}