.navbar {
  background: rgba(6, 12, 34, 0.98);
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-brand {
  color: #fff !important;
}
.container-fluid {
  background: rgba(6, 12, 34, 0.98);
  color: #fff;
  text-align: center;
  padding: 10px;
}
.jumbotron {
  margin-bottom: 0;
}
.container-fluid a {
  color: #999999;
}
input[type="file"],
input[type="submit"],
img {
  margin-bottom: 8px;
  margin-top: 5px;
}